<h1>Listing users</h1>

<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Phone</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th></th>
    <% if current_user.admin? %>
    <th></th>
    <th></th>
    <% end %>
  </tr>
</thead>
<tbody>

<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.phone %></td>
    <td><%= user.address %></td>
    <td><%= user.city %></td>
    <td><%= user.state %></td>
   	<td><%= link_to 'Show', user %></td>
    <% if current_user.admin? %>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
 </tbody>
</table>

<br />
<!-- <%= link_to 'New User', new_user_path %> -->
