<%= form_for(@reservation) do |f| %>


  <div class="field">
  	<%= f.label :check_in %><br />
  	<%= f.text_field :check_in %><br />
  <div>
  <div class="field">
  	<%= f.label :check_out %><br />
  	<%= f.text_field :check_out %><br />
  <div>

  <div class="field">
    <%= f.label :adults %><br />
    <%= f.number_field :adults, :min => 0 %>
  </div>
  <div class="field">
    <%= f.label :children %><br />
    <%= f.number_field :children, :min => 0 %>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :room_id, :value => params[:room_id] %>
  <div class="actions">
    <%= f.submit %>
  </div>
<script>

$(function() {
$( "#reservation_check_in" ).datepicker();
$( "#reservation_check_out" ).datepicker();
</script>

<% end %>
