<h1>Listing Reservations</h1>

<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>Check in</th>
    <th>Check out</th>
    <th>Adults</th>
    <th>Children</th>
    <th>Room</th>
    <th>Hotel</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @reservations.each do |reservation| %>
  <tr>
    <td><%= reservation.check_in %></td>
    <td><%= reservation.check_out %></td>
    <td><%= reservation.adults %></td>
    <td><%= reservation.children %></td>
    <td><%= reservation.room.name %></td>
    <td><%= reservation.room.hotel.name %></td>
    <td><%= link_to 'More Info', reservation, :class =>"btn btn-info" %></td>
    <!-- <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td> -->
    <td><%= link_to 'Cancel Reservation', reservation, :class =>"btn btn-danger",method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
 </tbody>
</table>

<br />
 <!-- <%= link_to 'New Reservation', new_reservation_path %> -->
