<%= form_for(@room) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :bedrooms %><br />
    <%= f.number_field :bedrooms %>
  </div>
  <div class="field">
    <%= f.label :beds %><br />
    <%= f.number_field :beds %>
  </div>
  <div class="field">
    <%= f.label :nightly_rate %><br />
    <%= f.number_field :nightly_rate %>
  </div>
  <div class="field">
    <%= f.label :booking_status %><br />
    <%= f.check_box :booking_status %>
  </div>
  <div class="field">
    <%= f.label :television %><br />
    <%= f.check_box :television %>
  </div>
  <div class="field">
    <%= f.label :fridge %><br />
    <%= f.check_box :fridge %>
  </div>
  <div class="field">
    <%= f.label :microwave %><br />
    <%= f.check_box :microwave %>
  </div>
  <div class="field">
    <%= f.label :smoke_free %><br />
    <%= f.check_box :smoke_free %>
  </div>
  <div class="field">
    <%= f.label :sauna %><br />
    <%= f.check_box :sauna %>
  </div>
  <div class="field">
    <%= f.label :hotel %><br />
    <%= f.text_field :hotel %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
