<%= form_for(@room) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
	<%= f.select :hotel_id, Hotel.all.collect {|hotel| [ hotel.name, hotel.id ] } %>
  </div>

  <div class="field">
    <%= f.label :name %><%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :bedrooms %><%= f.number_field :bedrooms %>
  </div>
  <div class="field">
    <%= f.label :beds %><%= f.number_field :beds %>
  </div>
  <div class="field">
    <%= f.label :nightly_rate %><%= f.number_field :nightly_rate %>
  </div>
  <div class="field">
    <%= f.label :booking_status %><%= f.check_box :booking_status %>
  </div>
  <div class="field">
    <%= f.label :television %><%= f.check_box :television %>
  </div>
  <div class="field">
    <%= f.label :fridge %><%= f.check_box :fridge %>
  </div>
  <div class="field">
    <%= f.label :microwave %><%= f.check_box :microwave %>
  </div>
  <div class="field">
    <%= f.label :smoke_free %><%= f.check_box :smoke_free %>
  </div>
  <div class="field">
    <%= f.label :sauna %><%= f.check_box :sauna %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
