<h1>Listing rooms</h1>

<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Bedrooms</th>
    <th>Beds</th>
    <th>Nightly rate</th>
    <th>Hotel</th>
    <th>Information</th>
  </tr>
</thead>
<tbody>
	<% @rooms.each do |room| %>
	  <tr>
	    <td><%= room.name %></td>
	    <td><%= room.bedrooms %></td>
	    <td><%= room.beds %></td>
	    <td><%= room.nightly_rate %></td>
	    <td><%= room.hotel.name %></td>
	    <td><%= link_to 'More Info', room,:class =>"btn btn-info" %></td>
	    <!-- <td><%= link_to 'Edit', edit_room_path(room) %></td> -->
	    <!-- <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
	  </tr>
	<% end %>
 </tbody>
</table>
<br />

<%= link_to 'New Room', new_room_path,:class =>"btn btn-warning" %>
