<h1>Listing hotels</h1>

<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>State</th>
    <th>Website</th>
    <th>Information</th>
  </tr>
</thead>
<tbody>

<% @hotels.each do |hotel| %>
  <tr>
    <td><%= hotel.name %></td>
    <td><%= hotel.city %></td>
    <td><%= hotel.state %></td>
    <td><%= hotel.website %></td>
    <td><%= link_to 'Show', hotel,:class =>"btn btn-info" %></td>
    <!-- <td><%= link_to 'Edit', edit_hotel_path(hotel) %></td>
        <td><%= link_to 'Destroy', hotel, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
  </tr>
<% end %>
 </tbody>
</table>

<br />

<%= link_to 'New Hotel', new_hotel_path,:class =>"btn btn-warning" %>
